= form_for @location_history do |f|
  -if @location_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location_history.errors.count, "error")} prohibited this location_history from being saved:"
      %ul
        - @location_history.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
