%p
  %table.condensed-table
    %thead
      %tr
        %th Activity
        - date = Date.new(summary_start.year, summary_start.month, 1)
        - while date <= summary_end
          %th{:title => date.strftime('%b %Y')}
            = link_to date.strftime('%b %Y'), time_review_path(params.merge({:action => 'review', :controller => 'time', :start => date, :end => date + 1.month}))
          - date += 1.month
        %th.right Total  
    %tbody
      - summary[:rows].sort_by { |k,v| if k and @categories[k] then @categories[k].full_name else "" end }.each do |row|
        - category = @categories[row[0]]
        - values = row[1]
        - next if category == :total or category.nil?
        %tr
          %td
            = link_to category.full_name, time_review_path(params.merge(:action => 'review', :controller => 'time', :parent_id => category.id)), :title => category.full_name
            = " > " if category.list?
          - date = Date.new(summary_start.year, summary_start.month, 1)
          - total = 0
          - count = 0
          - while date < summary_end
            %td.right{:title => category.full_name + " - " + date.strftime('%b %Y')}
              = duration values[date]
            - if values[date + 6.days]
              - total += values[date]
              - count += 1 if values[date] > 0
            - date += 1.month
          %td.right
            %strong{:title => ("Average: " + duration(total / count) if count > 0)}= duration total  
      %tr
        %td Total
        - date = Date.new(summary_start.year, summary_start.month, 1)
        - values = summary[:total][:total]
        - total = 0
        - count = 0
        - while date < summary_end
          %td.right{:title => l(date)}= duration values[date]
          - total += values[date]
          - count += 1 if values[date] > 0
          - date += 1.month
        %td.right
          %strong{:title => ("Average: " + duration(total / count) if count > 0)}= duration total  
