%ul.nav.nav-tabs
  %li{:class => active_class(active, 'dashboard')}= link_to 'Dashboard', time_dashboard_path
  %li{:class => active_class(active, 'graph')}= link_to 'Graph', time_graph_path(:start => @start ? @start.strftime("%Y-%m-%d") : nil, :end => @end ? @end.strftime("%Y-%m-%d") : nil)
  %li{:class => active_class(active, 'review')}= link_to 'Summary', time_review_path(:start => params[:start], :end => params[:end])
  %li{:class => active_class(active, 'categories')}= link_to 'Categories', record_categories_path
  %li{:class => active_class(active, 'records')}= link_to 'Logs', records_path(:start => params[:start], :end => params[:end])
  %li{:class => active_class(active, 'batch')}= link_to 'Batch', batch_records_path
      
