<% form_tag class: 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag :start, 'Start', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :start, @start.strftime("%Y-%m-%d"), :class => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :end, 'End', class: 'control-label' %> 
    <div class="controls"><%= text_field_tag :end, @end.strftime("%Y-%m-%d"), :class => 'datepicker' %></div>
  </div>
  <div class="control-group"><div class="controls">
    <%= submit_tag t('app.general.filter'), :class => 'btn btn-primary' %>
  </div></div>
<% end %>
