<h2>Time use</h2>
<% form_tag do %>
  Start: <%= text_field_tag :start, @start.strftime("%Y-%m-%d"), :class => 'datepicker' %>
  End: <%= text_field_tag :end, @end.strftime("%Y-%m-%d"), :class => 'datepicker' %>
  <%= submit_tag "Go" %>
<% end %>
<%= render :partial => "partials/time_sparklines", :locals => { :cat => @cat, :time_graphs => @time_graphs } %>
<div class="day">
<div id="canvas" style="width: <%= @width %>px; height: <%= @height %>px"></div>
<script type="text/javascript">
  var sets = new Array();
  window.onload = function() {
    var p = Raphael("canvas");
    <% [0, 3, 6, 9, 12, 15, 18, 21, 24].each do |hour|
       x = hour * 3600 * @second_width %>
       <%= "var l = p.path('M#{x.to_i} 0L#{x.to_i} #{@height}').attr({stroke: 'gray', 'stroke-width': 0.5, 'stroke-opacity': 0.5});" %>
       <%= "var l = p.path('M#{x.to_i + @distribution_offset} 0L#{x.to_i + @distribution_offset} #{@height}').attr({stroke: 'gray', 'stroke-width': 0.5, 'stroke-opacity': 0.5});" %>
    <% end %>
    <% @time_records.each do |d| %>
      if (!sets['<%= d[:class] %>']) { sets['<%= d[:class] %>'] = p.set(); }
      <%= "var r = p.rect(#{d[:x]}, #{d[:y]}, #{d[:width]}, #{@day_height}).attr({fill: '#{d[:color]}', stroke: 'none', title: '#{d[:title]}'});".html_safe %>
      r.hover(function(event) { sets['<%= d[:class] %>'].attr({'stroke': '#000'}); },
        function(event) { sets['<%= d[:class] %>'].attr({'stroke': 'none'}); });
      sets['<%= d[:class] %>'].push(r);
    <% end %>
    <% @days.each do |d| %>
      if (!sets['<%= d[:class] %>']) { sets['<%= d[:class] %>'] = p.set(); }
      <%= "var r = p.rect(#{d[:x]}, #{d[:y]}, #{d[:width]}, #{@day_height}).attr({fill: '#{d[:color]}', stroke: 'none', title: '#{d[:title]}'});".html_safe %>
      r.hover(function(event) { sets['<%= d[:class] %>'].attr({'stroke': '#000'}); },
        function(event) { sets['<%= d[:class] %>'].attr({'stroke': 'none'}); });
      sets['<%= d[:class] %>'].push(r);
    <% end %>
    
  }
</script>
<div class="selector"><%= @labels.join(" | ").html_safe %></div>
<script type="text/javascript">
  $(".selector a").hover(
    function() { sets[$(this).attr("class")].attr({'stroke': '#000'}); },
    function() { sets[$(this).attr("class")].attr({'stroke': 'none'}); });
</script>
</div>
<%= render :partial => "by_day_summary" %>
