= setup_page 'refresh', nil
#block-text.block
  .content
    %h2.title Home
    .inner
      %p.first
        = form_tag(refresh_from_csv_path, { :multipart => true }) do
          .clearfix
            = label_tag(:tap_file, "Tap Log CSV")
            .input
              = file_field_tag :tap_file
              = link_to "Tap Log", "http://loggerlife.blogspot.com/"
          .actions    
            = submit_tag "Submit", :class => 'btn primary'
