= setup_page 'refresh', nil
#block-text.block
  .content
    %h2.title Home
    .inner
      %p.first
        = form_tag(refresh_from_csv_path, multipart: true, class: 'form-horizontal') do
          .control-group
            = label_tag(:tap_file, "Tap Log CSV"), class: 'control-label'
            .controls
              = file_field_tag :tap_file
              = link_to "Tap Log", "http://loggerlife.blogspot.com/"
          .control-group
            .controls= submit_tag "Submit", :class => 'btn btn-primary'
