- if @category
  = setup_page 'review', "#{@category.name}"
  - if @category.activity? and managing?
    = after_title link_to("Start", track_record_category_path(:id => @category.id), :class => 'btn btn-default', :style => 'margin-left: 5px', :method => :post)
  = link_to 'Home', time_review_path(params.to_unsafe_h.merge({:parent_id => nil}))
  - @category.ancestors.each do |c|
    &raquo;
    = link_to c.name, time_review_path(params.to_unsafe_h.merge({ :parent_id => c.id }))
  \|
  = link_to 'View category', record_category_path(@category)
- else
  = setup_page 'review'
= render "application/quick_record" 
= render 'filters'


= render "activity_summary_#{@zoom}", :summary => @summary, :summary_start => @summary_start, :summary_end => @summary_end, :show_full_path => (params[:tree] != 'next_level'), :show_averages => true
