.block#block-login
  .content
    .row
      .login.col-sm-5
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {class: 'form-stacked'}) do |f|
          = hidden_field_tag :destination, params[:destination]
          %fieldset
            %legend Sign in
            .inner
              .form-group
                = label_tag :login, "Login", class: 'control-label'
                .controls= f.text_field :login, :class => "text_field"
              .form-group
                = label_tag :password, "Password", class: 'control-label'
                .controls= f.password_field :password, :class => "text_field"
              - if devise_mapping.rememberable?
                .control-group
                  .controls
                    .controls-list
                      %label
                        = f.check_box :remember_me, :class => "checkbox"
                        Remember me
              .control-group
                .controls= render "devise/shared/links"
            .control-group
              .controls
                %button.btn.btn-primary{ :type => "submit" }
                  = I18n.t('app.user.login_submit')
      
