.block#block-login
  .content
    .row
      .login
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => mobile? ? "form-stacked" : "form" }) do |f|
          = hidden_field_tag :destination, params[:destination]
          %fieldset
            %legend Sign in
            .inner
              .clear-fix
                %label Sign in with
                .input
                  .box#services
                    = link_to image_tag('google_32.png', :size => "32x32", :alt => "Google"), oauth_url(:google, :subdomain => false), :class => 'service'
                    = link_to image_tag('facebook_32.png', :size => "32x32", :alt => "Facebook"), oauth_url(:facebook, :subdomain => false), :class => 'service'
                    or fill in the form below
              .clear-fix
                = label_tag :login, "Login"
                .input= f.text_field :login, :class => "text_field"
              .clear-fix  
                = label_tag :password, "Password"
                .input= f.password_field :password, :class => "text_field"
              - if devise_mapping.rememberable?
                .clear-fix
                  .input
                    .inputs-list
                      %label
                        = f.check_box :remember_me, :class => "checkbox"
                        Remember me
              .clear-fix
                .input= render "devise/shared/links"
            .actions
              %button.btn.primary{ :type => "submit" }
                = I18n.t('app.user.login_submit')
      .sign_up
        = render 'registrations/form'
