%h2 Resend confirmation instructions
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { method: :post, class: 'form-horizontal'}) do |f|
  = devise_error_messages!
  .inputs
    = f.input :email
  .form-group
    .col-sm-offset-2
      = f.submit "Resend confirmation instructions", :class => 'btn btn-primary'
= render :partial => "devise/shared/links"
