%h2 Resend confirmation instructions
= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { method: :post, class: 'form-horizontal'}) do |f|
  = devise_error_messages!
  = f.inputs do
    = f.input :email
  .control-group
    .controls
      = f.submit "Resend confirmation instructions", :class => 'btn btn-primary'
= render :partial => "devise/shared/links"
