- show_all ||= nil
- if managing?
  - if mobile?
    .clearfix
      %table.table
        - list.each do |c|
          %tr
            %td{:width => 100}
              - if c.activity? or c.record?
                = link_to("Track", track_time_path(:category_id => c.id), :class => 'btn', :method => :post)
            %td
              = link_to (show_all ? c.full_name : c.name), c
              - if c.list?
                &raquo;
    
  - else  
    - if list.length > 0
      %table.table
        %thead
          %tr
            %th{:width => 100} Actions
            %th Name
        %tbody    
          - list.each do |c|
            %tr
              %td
                = action_list(c)
              %td
                = link_to (show_all ? c.full_name : c.name), c
                - if !c.active?
                  = surround ' (', ')' do
                    = t('general.inactive')
                - if c.list?
                  &raquo;
- else
  .clearfix
    %ul
      - list.each do |c|
        %li
          = link_to (show_all ? c.full_name : c.name), c
          - if c.list?
            &raquo;
