= help "http://sachachua.com"
= setup_page 'categories', nil, 'time/nav'
%ul.nav.nav-pills
  - show_all = params && params[:all] 
  %li{class: !show_all ? 'active' : ''}
    = link_to 'View by level', params.except(:all)
  %li{class: show_all ? 'active' : ''}
    = link_to 'View all', params.merge(all: 1)
- if @record_categories.length > 0
  - if managing?
    = render 'quick_record'
    %p= link_to 'Create record category', new_record_category_path, :class => 'btn btn-default'
  = render 'list', list: @record_categories, show_all: show_all
- else
  - if managing?
    You don't have any record categories yet. You can create one using the link below, or you can just start tracking records by typing in an unknown category name.
    %p= link_to "Create a record category", new_record_category_path, :class => 'btn btn-primary'
