= setup_page 'categories', @title, 'time/nav'
= render 'filters'

- if managing?
  - if @record_category.activity?
    - after_title do
      = link_to(t('.start_activity'), track_record_category_path(:id => @record_category.id), :class => 'btn', :style => 'margin-left: 5px', :method => :post)
      = link_to(t('goal.set'), new_goal_path(record_category_id: @record_category.id), class: 'btn', style: 'margin-left: 5px')
  - if @record_category.record?
    - after_title link_to(t('.record'), track_record_category_path(:id => @record_category.id), :class => 'btn', :style => 'margin-left: 5px', :method => :post)
  

%p
  = record_category_breadcrumbs(@record_category)
  - if managing?
    \|
    = link_to t('app.general.edit'), edit_record_category_path(@record_category)
    - if @record_category.list?
      \|
      = link_to t('.add_child'), new_record_category_path(:parent_id => @record_category.id)
  - unless @record_category.record?
    \|
    = link_to t('.review'), time_review_path(:parent_id => @record_category.id)
  \|
  = link_to t('app.general.back'), record_categories_path

Total:
= duration @total
= surround ' (', ')' do
  = pluralize @total_entries, 'entry'

- if @record_category.category_type == 'list'
  - if @record_category.children.length > 0
    = render 'list', :list => @record_category.children

- if @records
  = render 'records/summary', :records => @records, :show_duration => !@record_category.record?
  = will_paginate @records, :renderer => PaginationListLinkRenderer
  
