%h1 Clothing log

= render "partials/clothing_log_entry"
= set_focus_to_id("#clothing")

%table
  %tr
    %th Date
    %th Clothing
    %th Edit
    %th Delete
  - @clothing_logs.each do |clothing_log|
    %tr
      %td= link_to clothing_log.date, clothing_log
      %td= link_to clothing_log.clothing.name, clothing_path(clothing_log.clothing) unless clothing_log.clothing.nil?
      %td= link_to 'Edit', edit_clothing_log_path(clothing_log)
      %td= link_to 'Delete', clothing_log, :confirm => 'Are you sure?', :method => :delete
%br

= link_to 'New log entry', new_clothing_log_path
