= setup_page 'matches', 'Clothing log matches', 'clothing/nav'

- if can? :create, ClothingLog
  = render "clothing_log_entry"
  = set_focus_to_id("#clothing")
- last_date = nil

= render 'filters'

= download_data
%table.table.table-bordered
  %tr
    %th Date
    %th Clothing A ID
    %th Clothing A Name
    %th Clothing B ID
    %th Clothing B Name
  - @clothing_matches.each do |m|
    %tr
      %td= l(m.clothing_log_date, format: :long)
      %td= m.clothing_a_id
      %td= m.clothing_a.name if m.clothing_a
      %td= m.clothing_b_id
      %td= m.clothing_b.name if m.clothing_b
%br
= will_paginate @clothing_matches
- if can? :create, ClothingLog
  = link_to 'New log entry', new_clothing_log_path
