= setup_page 'logs', "#{@clothing_log.date}: #{@clothing_log.clothing.name}" , 'clothing/nav'

#block-text.block
  .content
    %h2.title Home
    .inner
      %p.first
        %div{:style => 'float: right'}
          = clothing_thumbnail(@clothing_log.clothing, :size => :large)
        %ul
          %li= @clothing_log.date
          - if current_user
            %li= link_to 'Wear today', clothing_logs_path + "?clothing_id=" + @clothing_log.clothing_id.to_s + "&date=" + Time.zone.today.to_s, :method => :post
            %li= link_to 'Plan for tomorrow', clothing_logs_path + "?clothing_id=" + @clothing_log.clothing_id.to_s + "&date=" + Time.zone.tomorrow.to_s, :method => :post
        %br.clear

- if current_user
  = link_to 'Edit', edit_clothing_log_path(@clothing_log)
  \|
  = link_to 'Back', clothing_logs_path
