= simple_form_for @receipt_item_category do |f|
  - if @receipt_item_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@receipt_item_category.errors.count, "error")} prohibited this from being saved:"
      %ul
        - @receipt_item_category.errors.full_messages.each do |msg|
          %li= msg
  .inputs
    = f.input :name
    .form-group
      .col-sm-offset-2
        = f.submit t('general.save'), class: 'btn btn-primary'
        - if !@receipt_item_category.new_record?
          = link_to t('general.delete'), @receipt_item_category, class: 'btn btn-default', method: :delete, confirm: t('general.are_you_sure')
