= setup_page 'receipt_item_categories', 'Receipt item categories', 'receipt_items/nav'

= link_to 'New receipt item category', new_receipt_item_category_path

= render 'filters', expanded: true

.total
  Total:
  = @receipt_item_categories.map(&:total).compact.sum
%table.table.table-bordered.table-striped
  %tr
    %th.number= sortable_column 'Total'
    %th= sortable_column 'Name'
    %th
  - @receipt_item_categories.each do |receipt_item_category|
    %tr
      %td.number= '%0.2f' % (receipt_item_category.total || 0)
      %td= link_to receipt_item_category.name, receipt_item_category_path(receipt_item_category, params)
      %td= action_list receipt_item_category

%br

