= semantic_form_for @receipt_item, html: { class: 'form-horizontal' } do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name
    = f.input :friendly_name
    = f.input :store
    = f.input :date, as: :string
    = f.input :quantity
    = f.input :unit
    = f.input :unit_price
    = f.input :total
    = f.input :notes
    = f.input :filename
    = f.input :source_id
    = f.input :source_name
    .control-group
      .controls
        = f.submit t('general.save'), class: 'btn btn-primary'
        - if @receipt_item
          = link_to t('general.delete'), @receipt_item, class: 'btn btn-default', method: :delete, confirm: t('general.are_you_sure')
