%ul.nav.nav-tabs
  %li{:class => active_class(active, 'index')}= link_to 'Receipt items', receipt_items_path
  %li{:class => active_class(active, 'batch')}= link_to 'Batch entry', batch_entry_receipt_items_path
  %li{:class => active_class(active, 'receipt_item_types')}= link_to 'Types', receipt_item_types_path
  %li{:class => active_class(active, 'receipt_item_types_batch')}= link_to 'Type batch update', batch_entry_receipt_item_types_path
  %li{:class => active_class(active, 'receipt_item_categories')}= link_to 'Categories', receipt_item_categories_path
  %li{:class => active_class(active, 'graph')}= link_to 'Graph', graph_receipt_items_path

