= setup_page 'index', 'Receipt items'

= link_to 'New receipt item', new_receipt_item_path

= render 'filters', expanded: true

= download_as_spreadsheet
%table.table.table-bordered.full
  %tr
    %th Store
    %th Date
    %th Name
    %th Friendly name
    %th Quantity
    %th Unit
    %th Unit price
    %th Total
    %th Notes
    %th
  - @receipt_items.each do |receipt_item|
    %tr
      %td= receipt_item.store
      %td= receipt_item.date
      %td= link_to receipt_item.name, receipt_items_path(params.merge(filter_string: receipt_item.name))
      %td= link_to receipt_item.friendly_name, receipt_item.receipt_item_type if receipt_item.receipt_item_type
      %td= '%0.3f' % receipt_item.quantity if receipt_item.quantity
      %td= receipt_item.unit
      %td= '%0.3f' % receipt_item.unit_price if receipt_item.unit_price
      %td= '%0.2f' % receipt_item.total if receipt_item.total
      %td= receipt_item.notes
      %td= action_list receipt_item
%br
= will_paginate @receipt_items


