= simple_form_for @grocery_list do |f|
  .inputs
    = f.input :name
  %h2 Access
  .form-group
    %label.control-label E-mail
    = email_field_tag :email, nil, class: 'form-control'
  - if @grocery_list.grocery_list_users and @grocery_list.grocery_list_users.count > 0  
    .form-group
      %table
        %tr
          %th E-mail
          %th
        - @grocery_list.grocery_list_users.each do |u|
          %tr
            %td= u.user.email
            %td= link_to 'Remove', unshare_grocery_list_path(@grocery_list, user_id: u.user_id), class: "remove_access_#{u.id}", method: :delete
  .form-group
    = submit_tag I18n.t('app.general.submit'), :class => 'btn btn-primary'
    
   
