%div#app{'ng-app' => 'groceries', 'data-grocery-list-id' => @grocery_list.id, 'ng-controller' => 'GroceriesController'}
  %p#notice= notice

  %h1= @grocery_list.name

  = form_tag quick_add_to_grocery_list_path(@grocery_list), method: :post, class: 'form-inline', remote: true, 'ng-submit' => 'quickAdd' do
    = t('grocery_list_item.item')
    = text_field_tag 'quick_add', nil, 'ng-model' => 'addText'
    = submit_tag t('general.add'), class: 'btn'

  %div
    %table.table.table-bordered.table-striped.groceries
      %tr{'ng-repeat' => 'x in data', 'ng-class' => 'x.status', 'ng-show' => 'x.status != "cart"'}
        %td.category {{x.category}}
        %td.quantity {{x.quantity}}
        %td.name {{x.name}}
        %td.commands
          %span.glyphicon.glyphicon-edit.edit
          %span.glyphicon.glyphicon-shopping-cart.done{'ng-click' => 'setStatus(x, "cart")'}
  %h2 In cart
  = link_to 'Clear all in cart', clear_grocery_list_path(@grocery_list), method: :post, 'ng-click' => 'clearCart()'
  %table.table.table-bordered.table-striped.groceries
    %tr{'ng-repeat' => 'x in data', 'ng-id' => 'x.id', 'ng-class' => 'x.status', 'ng-show' => 'x.status == "cart"'}
      %td.category {{x.category}}
      %td.quantity {{x.quantity}}
      %td.name {{x.name}}
      %td.commands
        %span.glyphicon.glyphicon-edit.edit
        %span.glyphicon.glyphicon-list.restore{'ng-click' => 'setStatus(x, "")'}

          
= link_to 'Edit', edit_grocery_list_path(@grocery_list)
\|
= link_to 'Back', grocery_lists_path
