%h2= "Users: #{@users.length}"
%table.table
  %thead
    %tr
      %th E-mail
      %th Username
      %th Created at
      %th Actions
  - @users.each do |s|
    %tr
      %td= mail_to s.email, s.email
      %td= s.username
      %td= l s.created_at
      %td= link_to 'Become', become_user_path(s.id), :method => :post
