.flash
  - flash.each do |type, message|
    %div{ :class => "message #{type}" }
      %p= message
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form login" }) do |f|
  .group.wat-cf
    .left= f.label :login, :class => "label right"
    .right= f.text_field :login, :class => "text_field"
  .group.wat-cf
    .left= f.label :password, :class => "label right"
    .right= f.password_field :password, :class => "text_field"
  - if devise_mapping.rememberable?
    .group.wat-cf
      .right
        = f.check_box :remember_me, :class => "checkbox"
        = f.label :remember_me, :class => "checkbox"
  .group.wat-cf
    .right
      %button.button{ :type => "submit" }
        = image_tag "web-app-theme/icons/key.png"
        Log in
= render :partial => "devise/shared/links", :locals => {:controller_name => 'sessions'}