%ul.navigation
  %li= link_to "Clothing", "/clothing" 
  %li= link_to "Clothing logs", clothing_logs_path 
  %li= link_to "Decisions", decisions_path 
  %li= link_to "Decision logs", decision_logs_path 
  %li= link_to "Time tracker", time_path 
  %li= link_to "Time tracker graph", "/time/graph"
