- unless current_user
  = render :partial => 'partials/login'
%ul.navigation
  %li=link_to "Clothing", "/clothing"
  %li= link_to "Clothing logs", clothing_logs_path 
  %li= link_to "Clothing - analyze", "/clothing/analyze" 
  %li= link_to "Library", library_items_path
  - if user_signed_in?
    %li= link_to "Stuff", stuff_index_path
    %li= link_to "Measurements", measurements_path
    %li= link_to "Decisions", decisions_path 
    %li= link_to "Decision logs", decision_logs_path 
    %li= link_to "Time tracker", time_path 
  %li= link_to "Time tracker graph", "/time/graph"
  
%a{:href => "http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71265&bannertypeclick=wu_clean2day"}
  %img{:src => "http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=CYTZ&ForcedCity=Toronto&ForcedState=ON&wmo=71265&language=EN", :alt => "Click for Toronto, Ontario Forecast", :height => "100", :width => "300"}
