= semantic_form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
  .actions
    = f.submit 'Save'
