= semantic_form_for @user, html: {class: 'form-horizontal'} do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :email, :input_html => { :autocomplete => 'off' }
    = f.input :username, :input_html => { :autocomplete => 'off' }
    .control-group
      %label.control-label Timezone
      .controls= select_tag 'user[settings][time_zone]', time_zone_options_for_select(@user.settings.timezone)

    .control-group
      .controls 
        If you'd like to change your password, enter your new password below:
        = f.input :password, :required => false, :autocomplete => 'off'
        = f.input :password_confirmation, :autocomplete => 'off'
  .control-group
    .controls
      = f.submit 'Save', :class => 'btn btn-primary'
