= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.inputs do
    %legend= t('user.sign_up')
    .inner
      .clear-fix
        %label Sign up through
        .input
          .box#services
            = link_to image_tag('google_32.png', :size => "32x32", :alt => "Google"), oauth_url(:google, :subdomain => false), :class => 'service'
            = link_to image_tag('facebook_32.png', :size => "32x32", :alt => "Facebook"), oauth_url(:facebook, :subdomain => false), :class => 'service'
            or fill in the form below
      = f.input :email, :autocomplete => 'off'
  .actions  
    = f.submit t('user.sign_up'), :class => 'btn primary'
