= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error :base
  = devise_error_messages!
  .inputs
    %legend= t('user.sign_up')
    .inner
      .clear-fix
        %label Sign up through
        .input
          .box#services
            = link_to image_tag('google_32.png', :size => "32x32", :alt => "Google"), oauth_url(:google, :subdomain => false), :class => 'service'
            = link_to image_tag('facebook_32.png', :size => "32x32", :alt => "Facebook"), oauth_url(:facebook, :subdomain => false), :class => 'service'
            or fill in the form below
      .clear-fix
        %label E-mail
        .input= f.email_field :email
      .clear-fix
        %label Password
        .input= f.password_field :password
      .clear-fix
        %label Password confirmation
        .input= f.password_field :password_confirmation
  .form-group
    .col-sm-offset-2
      = submit_tag I18n.t('user.sign_up'), :class => 'btn btn-primary'

