#block-text.block
  .content
    %h2.title Home
    .inner
      %p.first
        = render "partials/clothing_log_entry"
        = set_focus_to_id("#clothing")
      %table
        %tr
          %td
            %h3 Toronto weather
            %a{:href => "http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71265&bannertypeclick=wu_clean2day"}
              %img{:src => "http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=CYTZ&ForcedCity=Toronto&ForcedState=ON&wmo=71265&language=EN", :alt => "Click for Toronto, Ontario Forecast", :height => "100", :width => "300"}
          %td
            %h3 Manila weather
            %a{:href => "http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71265&bannertypeclick=wu_clean2day"}
              %img{:src => "http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=RPLL&ForcedCity=Manila&ForcedState=&wmo=98429&language=EN", :alt => "Click for Forecast", :height => "100", :width => "300"}
      %h2
        = pluralize @library_items.count, "library book"
        = link_to "(refresh)", library_refresh_path
      %table
        %tr
          %th Due
          %th Title
          %th Author
        - @library_items.each do |item|
          %tr
            %td= item.due.strftime("%Y-%m-%d %a")
            %td= item.title
            %td= item.author

