- if current_account
  - if @goal_summary.size > 0 
    .goals.category
      .category_label
        %h2 Goals
      .category_detail
        = render 'goals/summary', :goal_summary => @goal_summary
  .time.category
    .category_label
      %h2 Time
    .category_detail
      - if current_account.record_categories.length > 0
        = render 'quick_record'    
        = render 'current_activity'  
        %ul.nav.nav-pills  
          %li= link_to 'Dashboard', time_dashboard_path
          %li= link_to 'Graph', time_graph_path
          %li= link_to 'Review', time_review_path
          %li= link_to 'Categories', record_categories_path
          %li= link_to 'Logs', records_path
      - else
        .start= link_to "Start tracking your time by creating categories", new_record_category_path
  - if @contexts.length > 0
    .contexts.category
      .category_label
        %h2 Contexts
      .category_detail{style: 'padding-top: 13px'} 
        %ul.nav.nav-pills  
          - @contexts.each do |c|
            %li= link_to c.name, c
  .stuff.category
    .category_label
      %h2 Stuff
    .category_detail
      - if current_account.stuff.length > 0          
        - if current_account.stuff.out_of_place.count > 0
          %span.label.label-danger= "#{pluralize current_account.stuff.out_of_place.count, "item"}"
          = link_to "out of place", stuff_index_path
          .list
            = current_account.stuff.out_of_place.map{ |stuff| return_stuff_info stuff }.join(', ').html_safe
        - else
          .green
            = link_to "A place for everything, and everything in its place", stuff_index_path
            %span.label.label-success Yay!
      - else
        .start= link_to "Start tracking your stuff by creating items", stuff_index_path
  -# .weather.category
  -#   .category_label
  -#     %h2 Toronto weather
  -#   .category_detail  
  -#     %a{:href => "http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71265&bannertypeclick=wu_clean2day"}
  -#       %img{:src => "http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=CYTZ&ForcedCity=Toronto&ForcedState=ON&wmo=71265&language=EN", :alt => "Click for Toronto, Ontario Forecast", :height => "100", :width => "300"}
- else
  No accounts yet.
