#block-text.block
  .content
    %h2.title
      = pluralize number_with_delimiter(@memento_mori[:years]), 'year'
      or
      = pluralize number_with_delimiter(@memento_mori[:months]), 'month'
      or
      = pluralize number_with_delimiter(@memento_mori[:weeks]), 'weeks'
      - if current_user and @memento_mori then
        left - make the most of them!
      - else
        left - working on making the most of them!
    .inner
      - if current_user
        %p.days
          %table
            %tr
              %td 
                %h3 Yesterday
                = semantic_form_for @yesterday do |f|
                  = f.inputs do
                    = f.input :temperature
                    = f.input :clothing_temperature      
                  = f.buttons
              %td
                %h3 Today
                = semantic_form_for @today do |f|
                  = f.inputs do
                    = f.input :temperature
                    = f.input :clothing_temperature      
                  = f.buttons
      %p.clothing
        - if can? :create, ClothingLog
          = render "partials/clothing_log_entry"
          = set_focus_to_id("#clothing")
        - @clothing_today.each do |c|
          = clothing_thumbnail c.clothing, :link => clothing_log_path(c)
      %table
        %tr
          %td
            %h3 Toronto weather
            %a{:href => "http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71265&bannertypeclick=wu_clean2day"}
              %img{:src => "http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=CYTZ&ForcedCity=Toronto&ForcedState=ON&wmo=71265&language=EN", :alt => "Click for Toronto, Ontario Forecast", :height => "100", :width => "300"}
          %td
            %h3 Manila weather
            %a{:href => "http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71265&bannertypeclick=wu_clean2day"}
              %img{:src => "http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=RPLL&ForcedCity=Manila&ForcedState=&wmo=98429&language=EN", :alt => "Click for Forecast", :height => "100", :width => "300"}
      %h2
        = pluralize @library_items.count, "library item"
        = link_to "(refresh)", library_refresh_path
      = (pluralize @pickup_count, "item") + " to pick up"
      - if can? :update, LibraryItem
        = form_tag library_item_bulk_path do
          = select_tag 'op', options_for_select(['Make public', 'Make private'])
          = submit_tag
          %table.lined
            %tr
              %th{:width => 100} Due
              - if can? :update, LibraryItem
                %th
                %th
              %th Title
              %th Author
            - @library_items.each do |item|
              - if can? :view, item
                %tr
                  %td= item.due.strftime("%Y-%m-%d %a")
                  %td
                    - if can? :update, item
                      = link_to 'Read', edit_library_item_path(item.id) + '?status=read&read_date=' + Date.today.to_s
                    = 'DONE' if item.read_date
                  - if can? :update, item
                    %td
                      = check_box_tag 'bulk[]', item.id
                  %td
                    = '(*)' unless item.public
                    = link_to item.title, can?(:update, item) ? edit_library_item_path(item.id) : item 
                  %td= item.author
          = submit_tag
