= render 'quick_record'
= render 'current_activity'
%nav
  %ul
    %li= link_to 'Time', time_path
    %li= link_to 'Stuff', stuff_index_path
    %li= link_to 'Clothing', clothing_index_path
    %li= link_to 'Library items', library_items_path
    %li= link_to 'Track offline', api_offline_v1_track_offline_path
    - if user_signed_in?
      %li= link_to 'Log out', destroy_user_session_path, :method => 'delete'
    - else
      %li
        %strong{:style => 'text-decoration: underline'}
          = link_to t('app.user.login'), new_user_session_path

    