<% form_tag do %>
  Start: <%= text_field_tag :start, @start.strftime("%Y-%m-%d") %>
  End: <%= text_field_tag :end, @end.strftime("%Y-%m-%d") %>
  <%= submit_tag "Go" %>
<% end %>

<div style="font-size: 20px">
<table><tr><td>Work:</td><td><span class="sparkline-bar"><%= @time_graphs['A - Work'].join(',') %></span></td></tr>
<tr><td>Life:</td><td><span class="sparkline-bar"><%= @time_graphs['A - Sleep'].join(',') %></span></td></tr></table>
</div>
   
