= semantic_form_for @record do |f|
  = f.inputs do
    = f.input :timestamp, :as => :string, :input_html => { :value => l(f.object.timestamp, :format => :long) }
  - data = @record.record_category.data
  - if data
    - data.each do |k,v|
      = record_data_input @record, k, v
  .actions
    = f.submit t('app.general.save')
