= simple_form_for @record, :html => { role: 'form', class: (mobile? ? 'form-stacked' : 'form-horizontal') } do |f|
  - data = @record.record_category.data
  - if data
    - if data.is_a? Hash
      - data.each do |k,v|
        = record_data_input @record, v
    - else
      - data.each_with_index do |v, i|
        = record_data_input @record, v, i
  .form-group
    %label.control-label Category
    = select_tag('record[record_category_id]', options_from_collection_for_select(current_account.record_categories.order('full_name'), 'id', 'full_name', @record.record_category_id), class: 'form-control')
  - previous_activity = @record.previous_activity
  - previous_hint = nil
  - if @record.record_category.category_type == 'activity'
    - if previous_activity
      - if previous_activity.manual?
        - previous_hint = "Changing this will not affect the previous activity (#{link_to previous_activity.record_category.full_name, previous_activity}, #{duration previous_activity.duration})".html_safe
      - else
        - previous_hint = "Changing this will also update the previous activity (#{link_to previous_activity.record_category.full_name, previous_activity}, #{duration previous_activity.duration}). Change the previous activity to a manual end time if you don't want that activity to be updated".html_safe
  = f.input :timestamp, :as => :string, :input_html => { :value => l(f.object.timestamp, :format => :long) }, :hint => previous_hint
  - if @record.record_category.category_type == 'activity'
    - next_activity = @record.next_activity
    = f.input :end_timestamp, :as => :string, :input_html => { :value => f.object.end_timestamp ? l(f.object.end_timestamp, :format => :long) : '' }, :hint => "Leave blank for ongoing activities."
    - next_hint = ""
    - if next_activity
      - next_hint = ": #{link_to next_activity.record_category.full_name, next_activity}".html_safe
    - options = {("Automatically update the next activity's start time" + next_hint).html_safe => false, "Manually set end time independent of next activity" => true}
    = f.input :manual, as: :radio_buttons, collection: options
  .form-group
    .col-sm-offset-2
      = f.submit t('app.general.save'), :class => 'btn btn-primary'
