- show_duration = false unless defined? show_duration
= download_data
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Start
      %th End
      %th Category
      - if show_duration
        %th Duration
      - if can? :manage_account, current_account  
        %th
        %th Data
  %tbody      
    - records.each do |record|
      %tr
        %td= link_to l(record.timestamp, :format => :short), record, :title => l(record.timestamp, :format => :long)
        %td
          - if record.end_timestamp
            - if record.end_timestamp.to_date == record.timestamp.to_date
              = record.end_timestamp.strftime('%H:%M')
            - else  
              = l(record.end_timestamp, :format => :short)
        %td= if record.record_category then link_to record_category_full(record.record_category), record.record_category else "Deleted category?" end
        - if show_duration
          %td= duration record.duration
        - if can? :manage_account, current_account  
          %td= action_list(record)
          %td= record_data(record.data).html_safe
            
