= setup_page 'records', @record.record_category.name + " - " + l(@record.timestamp), 'time/nav'
= render "filters"
= after_title object_labels(@record)
= record_category_breadcrumbs(@record.record_category)
- if can? :manage_account, current_account
  = link_to t('app.general.edit'), edit_record_path(@record)
\|
= link_to "View category", record_category_path(@record.record_category)
%table.table
  %tbody
    - if @record.activity? and @record.timestamp?
      - if @record.end_timestamp?
        %tr
          %td.h= t('formtastic.labels.record.end_timestamp')
          %td= "#{l(@record.end_timestamp)} (#{duration @record.duration})"
      - else
        %tr
          %td.h= t('formtastic.labels.record.end_timestamp')
          %td
            Ongoing
            = "(#{duration Time.now - @record.timestamp})"
    - data = @record.record_category.data
    - if data and @record.data?
      - data.each do |entry|
        - v = @record.data[entry['key'] || entry[:key]]
        %tr
          %td.h= (entry['label'] || entry['key']).humanize
          %td
            - if v
              - if can?(:manage_account, current_account) or (v and !v.downcase.include?('!private'))
                = v
              - else
                %span{:class => 'private'}= t('app.general.private')
    - if @context[:current] and @context[:current] != @record
      %tr
        %td.h= t('.current')
        %td= link_to @context[:current].full_name, @context[:current]
    - if @context[:previous] and @context[:previous][:activity] and @context[:previous][:activity] != @context[:current]
      %tr
        %td.h= t('.previous.activity')
        %td
          = link_to @context[:previous][:activity].full_name, @context[:previous][:activity]
          = surround '(', ')' do
            = duration @context[:previous][:activity].duration
    - if @context[:previous] and @context[:previous][:entry] and @context[:previous][:entry] != @context[:previous][:activity]
      %tr
        %td.h= t('.previous.entry')
        %td= link_to @context[:previous][:entry].full_name, @context[:previous][:entry]
    - if @context[:next][:activity]
      %tr
        %td.h= t('.next.activity')
        %td= link_to @context[:next][:activity].full_name, @context[:next][:activity]
    - if @context[:next] and @context[:next][:entry] and @context[:next][:entry] != @context[:next][:activity]
      %tr
        %td.h= t('.next.entry')
        %td= link_to @context[:next][:entry].full_name, @context[:next][:entry]

- if managing?        
  Record activity:
  = render 'quick_record'
