= semantic_form_for @stuff do |f|
  -if @stuff.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stuff.errors.count, "error")} prohibited this stuff from being saved:"
      %ul
        - @stuff.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :name
    = f.input :status
    = f.input :home_location, :collection => (Location.all + Stuff.all).sort_by(&:name).collect { |x| [x.name, "#{x.id}-#{x.class.name}"] }
    = f.input :notes
  .actions
    = f.submit 'Save'
