= setup_page 'bulk'

= form_tag bulk_update_stuff_index_path, method: :post, class: 'form-horizontal' do
  .control-group
    = label_tag :location, 'Location', class: 'control-label'
    .controls= text_field_tag :location, params[:location], :placeholder => 'Location name', :required => true
  .control-group
    = label_tag :batch, 'Items', class: 'control-label'
    .controls
      = text_area_tag :batch, params[:patch], :required => true
  .control-group
    .controls
      = submit_tag 'Update', :class => 'btn btn-primary'  
