= setup_page 'stuff'

%p
  Status:
  = link_to 'all', stuff_index_path(:status => 'all')
  - statuses = current_account.stuff.select('DISTINCT(status)')
  - statuses.each do |s|
    - if s and !s.status.blank?
      = link_to s.status, stuff_index_path(:status => s.status)

To create or update an item, enter the item's name and its location below.      
= render 'quicklog'

- if @account.stuff.locations.length > 0
  Locations:
  = @account.stuff.locations.order('name').map { |x| link_to x.name, x }.join(', ').html_safe
  
%table.lined
  %tr
    %th= sortable_column "Name", :column => "name"
    %th= sortable_column "Last location", :column => "location_id"
    %th= sortable_column "In place?", :column => "in_place"
    %th= sortable_column "Last logged", :column => "updated_at"
    - if can? :update, Stuff
      %th

  - @stuff.each do |stuff|
    - if can? :view, stuff
      %tr
        %td= link_to stuff.name, stuff
        %td= link_to stuff.location.name, stuff.location if stuff.location
        %td
          - if stuff.home_location
            - if stuff.location == stuff.home_location
              .home
                Yay!
            - else
              .out
                - if can? :update, stuff
                  = link_to "Return to #{stuff.home_location.name}", log_stuff_path(:stuff_name => stuff.name, :location_name => stuff.home_location.name), :method => :post
                  - if stuff.location
                    \-
                    = link_to 'Set current', stuff_path(stuff.id, :destination => request.url, :stuff => {:home_location_id => stuff.location_id}), :method => :put
                - else
                  Home:
                  = stuff.home.location.name
          - else
            No home?
            - if stuff.location and can? :update, stuff
              = link_to 'Set current', stuff_path(stuff.id, :destination => request.url, :stuff => {:home_location_id => stuff.location_id}), :method => :put, :title => "Set this item's home location to its current location"
        %td= l stuff.updated_at, :format => :short
        - if can? :update, stuff
          %td
            = edit_icon edit_stuff_path(stuff)
            = delete_icon stuff_path(stuff)
