= setup_page 'stuff', name_and_location(@stuff).html_safe

%p
  - if managing?
    = link_to 'Edit', edit_stuff_path(@stuff)
    \|
  = link_to 'Back', stuff_index_path

= render :partial => 'quicklog', :locals => { :stuff_name => @stuff.name }

- if @stuff.location 
  Current:
  = link_to @stuff.location.name, @stuff.location
  according to the system
  - if @stuff.home_location and @stuff.home_location != @stuff.location and managing?
    \-
    = link_to 'Set home', stuff_path(@stuff.id, :destination => request.url, :stuff => {:home_location_id => @stuff.location_id}), :method => :put

- if @stuff.context_rules.length > 0
  %h2 Contexts
  %table
    %tr
      %th Context
      %th Location
    - @stuff.context_rules.includes(:context, :location).each do |c|
      %tr
        %td= link_to c.context.name, c.context
        %td= move_link_to(@stuff, c.location)
%h2 Locations
%p Click on a link below to mark this item as moved to that location.

- if @stuff.distinct_locations.length > 0
  Past locations: 
  = location_list @stuff, @stuff.distinct_locations.map(&:location)

- if managing?
  %p
    Move to any location: 
    = location_list(@stuff, current_account.stuff.locations.order('lower(name)'))
    %br
    Move inside other stuff:
    = location_list(@stuff, current_account.stuff.where('stuff_type != ? and id != ?', 'location', @stuff.id).order('lower(name)'))
    
- within = @stuff.contained_stuff.order('LOWER(name)')
- if within.length > 0
  %h2 What's in or on this?
  %p= render :partial => 'list', :locals => { :stuff => within }

- if @stuff.location_histories.length > 0
  %h2 Where has this been?
  %p= render :partial => 'location_histories/list', :locals => { :histories => @stuff.location_histories, :show_name => false }

