= semantic_form_for @library_item do |f|
  -if @library_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@library_item.errors.count, "error")} prohibited this library_item from being saved:"
      %ul
        - @library_item.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :title
    = f.input :author
    = f.input :public
    = f.input :tag_list
    = f.input :rating
    = f.input :isbn
    = f.input :price
    = f.input :pages
    = f.input :notes
    = f.input :due
    = f.input :checkout_date
    = f.input :read_date
    = f.input :return_date
    = f.input :status
  .actions
    = f.submit 'Save'
