.clear_both
%ul.pills
  = link_to 'All', library_items_path
  = link_to 'Current items', current_library_items_path
  = link_to 'Library cards', toronto_libraries_path

= link_to 'all', library_items_path
\-
- tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| 
  = link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class
  = tag.count

%ul
  %li= pluralize number_with_delimiter(@library_items.collect(&:pages).compact.sum), "page"
  %li= "$" + ("%.2f" % @library_items.collect(&:price).compact.sum)

%table.lined
  %tr
    %th{:width => 100}= sortable_column 'Due', :column => 'due'
    %th= sortable_column 'Name', :column => 'title'
    %th Tags
    %th= sortable_column 'Status', :column => 'status'
    %th Pages
    %th Price
    - if managing?
      %th{:width => 35}
  - if @library_items.size > 0 
    - @library_items.each do |library_item|
      - if can? :read, library_item
        %tr
          %td= link_to library_item.due, library_item
          %td
            = link_to library_item.title, (can? :edit, library_item) ? edit_library_item_path(library_item) : library_item
            = "(*)" unless library_item.public
          %td= library_item.tags.join ', '
          %td= library_item.status
          %td= library_item.pages
          %td= '%.2f' % (library_item.price || 0)
          - if managing?
            %td
              = edit_icon(edit_library_item_path(library_item))
              = delete_icon(library_item)

%br

