= form_for @day do |f|
  -if @day.errors.any?
    #error_explanation
      %h2= "#{pluralize(@day.errors.count, "error")} prohibited this day from being saved:"
      %ul
        - @day.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :temperature
    = f.text_field :temperature
  .field
    = f.label :clothing_temperature
    = f.text_field :clothing_temperature
  .field
    = f.label :library_checked_out
    = f.text_field :library_checked_out
  .field
    = f.label :library_pickup
    = f.text_field :library_pickup
  .field
    = f.label :library_transit
    = f.text_field :library_transit
  .actions
    = f.submit 'Save'
