= form_for @day, class: 'form-horizontal' do |f|
  -if @day.errors.any?
    #error_explanation
      %h2= "#{pluralize(@day.errors.count, "error")} prohibited this day from being saved:"
      %ul
        - @day.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :date, class: 'control-label'
    .controls= f.date_select :date
  .control-group
    = f.label :temperature, class: 'control-label'
    .controls= f.text_field :temperature
  .control-group
    = f.label :clothing_temperature, class: 'control-label'
    .controls= f.text_field :clothing_temperature
  .control-group
    = f.label :library_checked_out, class: 'control-label'
    .controls= f.text_field :library_checked_out
  .control-group
    = f.label :library_pickup, class: 'control-label'
    .controls= f.text_field :library_pickup
  .control-group
    = f.label :library_transit, class: 'control-label'
    .controls= f.text_field :library_transit
  .control-group
    .controls
      = f.submit 'Save', class: 'btn'
