%h1 Listing days

%table
  %tr
    %th Date
    %th Temperature
    %th Clothing temperature
    %th Library checked out
    %th Library pickup
    %th Library transit
    %th
    %th
    %th

  - @days.each do |day|
    %tr
      %td= day.date
      %td= day.temperature
      %td= day.clothing_temperature
      %td= day.library_checked_out
      %td= day.library_pickup
      %td= day.library_transit
      %td= link_to 'Show', day
      %td= link_to 'Edit', edit_day_path(day)
      %td= link_to 'Destroy', day, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Day', new_day_path
