%p#notice= notice

%p
  %b Date:
  = @day.date
%p
  %b Temperature:
  = @day.temperature
%p
  %b Clothing temperature:
  = @day.clothing_temperature
%p
  %b Library checked out:
  = @day.library_checked_out
%p
  %b Library pickup:
  = @day.library_pickup
%p
  %b Library transit:
  = @day.library_transit

= link_to 'Edit', edit_day_path(@day)
\|
= link_to 'Back', days_path
