%h1 Library cards

= link_to 'New card', new_toronto_library_path
%table.table
  %tr
    %th Name
    %th Card number
    %th
  - @toronto_libraries.each do |card|
    %tr
      %td= link_to card.name, card
      %td= card.card
      %td
        = link_to 'Edit', edit_toronto_library_path(card)
        |
        = link_to 'Delete', card, :confirm => 'Are you sure?', :method => :delete



