= setup_page "context#{@context.id}", @context.name, 'stuff/nav'
- if managing?
  %p= link_to 'Edit', edit_context_path(@context)

- if @out_of_place.length > 0
  %h3 Stuff out of place
  %table.out_of_place.table.table-bordered
    %thead
      %tr
        %th Stuff
        %th Destination
        %th Current location
    %tbody
      - @out_of_place.each do |o|
        - stuff = o.stuff
        %tr{:class => 'stuff_' + stuff.id.to_s}
          %td= link_to stuff.name, stuff
          %td
            - if managing?
              = move_stuff_link(stuff, o.location, request.fullpath).html_safe
            - else
              = link_to stuff.name, stuff
          %td= stuff.location ? stuff.location.name : ''
  - if managing?
    = link_to 'Complete', complete_context_path(@context.id), :method => :put, :class => 'btn btn-primary', :title => 'Updates all the out-of-place items with their home locations'
- elsif @in_place.length > 0
  Hooray! Everything in its place. 
- if @in_place.length > 0  
  %h3 Stuff in place
  %table.stuff_in_place.table.table-bordered
    %thead
      %tr
        %th Stuff
        %th Current location
    %tbody
      - @in_place.each do |o|
        - stuff = o.stuff
        %tr{:class => 'stuff_' + stuff.id.to_s}
          %td= link_to stuff.name, stuff
          %td= stuff.location ? stuff.location.name : ''
