= form_for @timeline_event, class: 'form-horizontal' do |f|
  -if @timeline_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@timeline_event.errors.count, "error")} prohibited this timeline_event from being saved:"
      %ul
        - @timeline_event.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    .controls
      = f.submit 'Save', class: 'btn btn-primary'
