%h1 Timeline events

%ul
  - @timeline_events.each do |e|
    %li
      = link_to e.actor.username, e.actor
      - case e.subject_type
        - when 'ClothingLog'
          - if e.secondary_subject and e.subject
            = "wore #{link_to h(e.secondary_subject.name), e.secondary_subject} on #{link_to h(e.subject.date), e.subject}".html_safe
        - when 'Record'
          - if e.secondary_subject and e.subject
            = "tracked #{link_to h(e.secondary_subject.full_name), e.secondary_subject} starting #{h(e.subject.timestamp)}".html_safe
        - when 'Clothing'
          - if e.subject
            = "created a clothing item #{link_to h(e.subject.name), e.subject}".html_safe
        - when 'Stuff'
          - if e.subject
            = "created stuff #{link_to h(e.subject.name), e.subject}".html_safe
        - when 'LocationHistory'
          - if e.secondary_subject and e.subject
            = "moved #{link_to h(e.secondary_subject.name), e.secondary_subject} to #{link_to h(e.subject.location.name), e.subject.location}".html_safe
        - when 'Memory'
          - if e.subject
            = "added a memory: #{link_to h(e.subject.name), e.subject} (#{h e.subject.entry_date})}".html_safe
        - when 'CsaFood'
          - if e.secondary_subject and e.subject
            = "#{h e.event_type} CSA food: #{link_to h(e.secondary_subject.name), e.secondary_subject} (#{h e.subject.quantity} #{h e.subject.unit})".html_safe
        - when 'User'
          - if e.subject
             = "#{h e.event_type} user: #{link_to h(e.subject.email), e.subject}".html_safe
          
      = link_to e do 
        = surround '(', ')' do
          %time.timeago{:datetime => e.created_at} e.created_at    
= will_paginate @timeline_events, :renderer => PaginationListLinkRenderer      
%br

