.block#block-login
  .content.login
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form" }) do |f|
      %fieldset
        %legend Sign in
        .clear-fix
          = f.label :login, :class => "label right"
          .input= f.text_field :login, :class => "text_field"
        .clear-fix  
          = f.label :password, :class => "label right"
          .input= f.password_field :password, :class => "text_field"
        - if devise_mapping.rememberable?
          .clear-fix
            .input
              .inputs-list
                %label
                  = f.check_box :remember_me, :class => "checkbox"
                  Remember me
        .actions
          %button.btn.primary{ :type => "submit" }
            = image_tag "web-app-theme/icons/key.png"
            = I18n.t('app.user.login_submit')
          = render :partial => "devise/shared/links"
