%h2 Set your password

= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { method: :put, class: 'form-horizontal' } do |f| 
  = devise_error_messages! 
  .inputs
    = f.input :username, :label => t('user.username')
    = f.input :password
    = f.input :password_confirmation
  .form-group
    .col-sm-offset-2
      = submit_tag I18n.t('app.general.submit'), :class => 'btn btn-primary'

