= form_for @food, class: 'form-horizontal' do |f|
  -if @food.errors.any?
    #error_explanation
      %h2= "#{pluralize(@food.errors.count, "error")} prohibited this food from being saved:"
      %ul
        - @food.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, class: 'control-label'
    .controls= f.text_field :name
  .control-group
    = f.label :notes, class: 'control-label'
    .controls= f.text_field :notes
  .control-group
    .controls
      = f.submit 'Save', class: 'btn'
