%h1 Listing foods
= link_to "Food log index", csa_foods_path
%table.table.table-bordered
  %tr
    %th Name
    %th Total quantity
    %th Remaining
    %th

  - @foods.each do |food|
    %tr
      %td= link_to food.name, food
      %td
        = @info[food.id][:total] if @info[food.id]
        = @info[food.id][:unit] if @info[food.id]
      %td
        = @info[food.id][:remaining] if @info[food.id]
        = @info[food.id][:unit] if @info[food.id]
      %td= link_to 'Edit', edit_food_path(food)

%br

= link_to 'New Food', new_food_path
