%h1
  = link_to 'Food', foods_path
  &gt;
  = @food.name.capitalize
= @food.notes

= form_tag bulk_update_csa_foods_path do
  - if can? :update, CsaFood
    = submit_tag 'Update records', class: 'btn btn-default'
  %table.table.table-bordered
    - @food.csa_foods.order('date_received DESC').each do |l|
      %tr
        %td= link_to l(l.date_received, :format => :long), l
        %td= l.quantity
        %td= l.unit
        %td
          - if can? :update, l
            = text_field_tag "bulk[#{l.id}]", l.disposition
          - else
            = l.disposition
        %td= l.notes

- if can? :edit, @food
  = link_to 'Edit', edit_food_path(@food)
= link_to 'Back', foods_path
