= semantic_form_for @measurement, html: {class: 'form-horizontal'} do |f|
  -if @measurement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@measurement.errors.count, "error")} prohibited this measurement from being saved:"
      %ul
        - @measurement.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs :name, :tag_list, :unit, :notes
  = f.buttons
