= semantic_form_for @tap_log_record do |f|
  = f.inputs do
    = f.input :status
    = f.input :catOne
    = f.input :catTwo
    = f.input :catThree
    = f.input :number
    = f.input :rating
    = f.input :note
    = f.input :timestamp
  .actions
    = submit_tag I18n.t('app.general.submit'), :class => 'btn primary'
