= simple_form_for @tap_log_record, html: {class: 'form-horizontal'} do |f|
  .inputs
    = f.input :status
    = f.input :catOne
    = f.input :catTwo
    = f.input :catThree
    = f.input :number
    = f.input :rating
    = f.input :note
    = f.input :timestamp, as: :string
  .form-group
    .col-sm-offset-2
      = submit_tag I18n.t('app.general.submit'), :class => 'btn btn-primary'
