%h1
  = @tap_log_record.category_string
  \-
  = l @tap_log_record.timestamp
  = object_labels @tap_log_record
%p
  &laquo;
  = link_to t('app.tap_log_record.previous_activity'), @previous_activity if @previous_activity
  \-
  = link_to t('app.tap_log_record.previous_entry'), @previous_entry if @previous_entry
  |
  - if can? :update, @tap_log_record
    = link_to 'Edit', edit_tap_log_record_path(@tap_log_record)
    \|
  = link_to t('app.tap_log_record.next_entry'), @next_entry if @next_entry
  \-
  = link_to t('app.tap_log_record.next_activity'), @next_activity if @next_activity
  &raquo;


%table
  %tbody
    - if @tap_log_record.end_timestamp?
      %tr
        %td.h= t('formtastic.labels.tap_log_record.end_timestamp')
        %td= "#{l(@tap_log_record.end_timestamp)} (#{duration @tap_log_record.end_timestamp - @tap_log_record.timestamp})"
    - if @tap_log_record.number?
      %tr
        %td.h= t('formtastic.labels.tap_log_record.number')
        %td= @tap_log_record.number
    - if @current_activity and @current_activity != @tap_log_record
      %tr
        %td.h= t('app.tap_log_record.current_activity')
        %td= link_to @current_activity.category_string, @current_activity
    - if @tap_log_record.rating?
      %tr
        %td.h= t('formtastic.labels.tap_log_record.rating')
        %td= @tap_log_record.rating
    - if @tap_log_record.note? and can? :view_note, @tap_log_record  
      %tr
        %td.h= t('formtastic.labels.tap_log_record.note')
        %td= @tap_log_record.note

- if @during_this and @during_this.length > 0
  %h2= t('app.tap_log_record.during_this_time')
  = render 'summary', :list => @during_this
  
%p
  &laquo;
  = link_to t('app.tap_log_record.previous_activity'), @previous_activity if @previous_activity
  \-
  = link_to t('app.tap_log_record.previous_entry'), @previous_entry if @previous_entry
  |
  = link_to t('app.tap_log_record.next_entry'), @next_entry if @next_entry
  \-
  = link_to t('app.tap_log_record.next_activity'), @next_activity if @next_activity
  &raquo;
