= semantic_form_for @memory do |f|
  = f.inputs do
    = f.input :name
    = f.input :body
    = f.input :tag_list
    = f.input :access, :as => :radio, :collection => access_collection
  .actions  
    = f.submit I18n.t('app.general.save')
