= title params[:tag] ? "Memories: #{params[:tag]}" : "Memories"

- if @tags
  Tags:
  = link_to 'all', memories_path
  - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| 
    = link_to tag.name, { :action => :index, :tag => tag.name }, :class => css_class

- if can? :create, Memory
  = link_to 'New memory', new_memory_path

%table.table
  %tr
    %th= sortable_column "Date", :column => 'sort_time'
    %th= sortable_column "Name"
    %th

  - @memories.each do |memory|
    %tr
      %td= memory.date_entry
      %td
        = link_to memory.name, memory
        = object_labels(memory)
      %td= action_list memory

%br
- if can? :create, Memory
  = link_to 'New memory', new_memory_path
