= semantic_form_for @goal, html: {class: 'form-horizontal'} do |f|
  = f.inputs do
    = f.input :label
    = f.input :expression
    = f.input :period, :as => :select, :collection => ["weekly", "monthly", "daily"]
  .control-group
    .controls= f.submit 'Save', class: 'btn'
