= setup_page 'goals', 'Goals', 'time/nav'
= render 'summary', :goal_summary => @goal_summary
%table.table
  %tr
    %th Label
    %th Expression
    %th

  - @goals.each do |goal|
    %tr
      %td
        = goal.label
        - if !goal.active?
          %span{class: 'label label-default'} Inactive
      %td= render 'explain_goal', goal: goal
      %td= action_list goal

%br

- if managing?
  = link_to 'New Goal', new_goal_path
