= setup_page 'index', 'Goals', nil
= render 'summary', :goal_summary => @goal_summary
%table.table
  %tr
    %th Label
    %th Expression
    %th

  - @goals.each do |goal|
    %tr
      %td= goal.label
      %td= render 'explain_goal', goal: goal
      %td= action_list goal

%br

= link_to 'New Goal', new_goal_path
