= semantic_form_for @receipt_item_type do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :receipt_name
    = f.input :friendly_name
    = f.input :receipt_item_category
    .control-group
      .controls
        = f.submit t('general.save'), class: 'btn btn-primary'
        - if !@receipt_item_type.new_record?
          = link_to t('general.delete'), @receipt_item_type, class: 'btn', method: :delete, confirm: t('general.are_you_sure')
