= setup_page 'index', 'Receipt item types', 'receipt_items/nav'

%table.table.table-bordered
  %tr
    %th= sortable_column 'Friendly name'
    %th= sortable_column 'Receipt name'
    %th= sortable_column 'Receipt item category name', column: 'receipt_item_category_name'
    %th
  - @receipt_item_types.each do |receipt_item_type|
    %tr
      %td= link_to receipt_item_type.friendly_name, receipt_item_type
      %td= link_to receipt_item_type.receipt_name, receipt_item_type
      %td= link_to receipt_item_type.category_name, receipt_item_type.receipt_item_category if receipt_item_type.receipt_item_category_id
      %td= action_list receipt_item_type
%br

= link_to 'New receipt item type', new_receipt_item_type_path
