= setup_page 'index', 'Receipt item types', 'receipt_items/nav'

%table.table.table-bordered
  %tr
    %th.number= sortable_column 'Total'
    %th= sortable_column 'Friendly name'
    %th
  - @receipt_item_types.each do |receipt_item_type|
    %tr
      %td= '%.2f' % receipt_item_type.total if receipt_item_type.total
      %td= link_to receipt_item_type.friendly_name, receipt_item_type
      %td= action_list receipt_item_type
%br

= link_to 'New receipt item type', new_receipt_item_type_path
