- default_date ||= @date
- default_date ||= Date.today
- if user_signed_in?
  = form_tag '/clothing_logs', :method => :post, :dest => root_path do
    = autocomplete_field_tag 'clothing', '', autocomplete_clothing_name_clothing_index_path, :id_element => '#clothing_id', :placeholder => 'Clothing'
    = hidden_field_tag 'clothing_id'
    = text_field_tag 'date', default_date.to_s, :placeholder => 'Date'
    = select_tag 'outfit_id', options_for_select([[1, 1], [2, 2], [3, 3], [4, 4]])
    = submit_tag 'Save', :class => 'btn'
