- default_date ||= @date
- default_date ||= Time.zone.now.to_date
- if user_signed_in?
  = form_tag '/clothing_logs', method: :post, dest: root_path, class: 'form-inline' do
    = input_tag 'clothing'
    = hidden_field_tag 'clothing_id'
    = text_field_tag 'date', default_date.to_s, placeholder: 'Date', class: 'datepicker'
    = select_tag 'outfit_id', options_for_select([['Outfit 1', 1], ['Outfit 2', 2], ['Outfit 3', 3], ['Outfit 4', 4]])
    = submit_tag 'Save', :class => 'btn btn-default'
