- if @current_activity  
  %strong  
    Current activity:
    = link_to @current_activity.full_name, @current_activity
    = "(#{@current_activity.timestamp.strftime('%H:%M')}, "
    = succeed ")" do
      %time.timeago{:datetime => @current_activity.timestamp.iso8601}= time_ago_in_words @current_activity.timestamp
    
