- legend ||= "Filters [+]"
- expanded ||= nil
- if @filters
  .filters.collapsible{class: expanded ? '' : 'collapsed'}
    %legend= legend
    .details
      = form_tag request.url, method: :get, class: 'form-horizontal' do
        - if @filters[:date_range]
          .control-group
            = label_tag :start, 'Start', class: 'control-label' 
            .controls= text_field_tag :start, (params[:start] ? Time.zone.parse(params[:start]).strftime("%Y-%m-%d") : ''), :class => 'datepicker' 
          .control-group
            = label_tag :end, 'End', class: 'control-label'
            .controls= text_field_tag :end, (params[:end] ? Time.zone.parse(params[:end]).strftime("%Y-%m-%d") : ''), :class => 'datepicker'
        - if @filters[:parent_id]
          .control-group
            = label_tag :parent_id, 'Parent', class: 'control-label'
            .controls= select_tag :parent_id, options_from_collection_for_select(current_account.record_categories.order(:full_name), 'id', 'full_name', params[:parent_id]), include_blank: true
        - if @filters[:category_tree]
          .control-group
            = label_tag :category_tree, 'Detail level', class: 'control-label'
            .controls.form-inline
              = radio_button_tag :category_tree, 'full', params && params[:category_tree] == 'full'
              = label_tag :category_tree_full, 'Full tree', :class => 'inline'
              = radio_button_tag :category_tree, 'next_level', params && params[:category_tree] == 'next_level'
              = label_tag :category_tree_next_level, 'Next level', :class => 'inline'
        - if @filters[:order]
          .control-group
            = label_tag :order, 'Order', class: 'control-label'
            .controls.form-inline
              = radio_button_tag :order, 'newest', @order != 'desc', :class => 'inline'
              = label_tag :order_newest, 'Newest on top', :class => 'inline'
              = radio_button_tag :order, 'oldest', @order == 'desc'
              = label_tag :order_oldest, 'Oldest on top', :class => 'inline'
        - if @filters[:filter_string]
          .control-group
            = label_tag :filter_string, t('app.general.filter'), class: 'control-label'
            .controls
              = text_field_tag :filter_string, params ? params[:filter_string] : ''
        - if @filters[:display_type]
          .control-group
            = label_tag :display_type, 'Display', class: 'control-label'
            .controls.form-inline
              = radio_button_tag :display_type, 'time', params[:display_type] != 'decimal', :class => 'inline'
              = label_tag :display_type_inline, 'Time', :class => 'inline'
              = radio_button_tag :display_type, 'decimal', params[:display_type] == 'decimal', :class => 'inline'
              = label_tag :display_type_decimal, 'Decimal', :class => 'inline'
        - if @filters[:zoom_level]
          .control-group
            = label_tag :zoom_level, 'Zoom level', class: 'control-label'
            .controls= select_tag :zoom_level, options_for_select({'Automatic' => '', 'Daily' => 'daily', 'Weekly' => 'weekly', 'Monthly' => 'monthly'}, params[:zoom_level])
        .control-group
          .controls= submit_tag t('app.general.filter'), :class => 'btn btn-primary'
