%footer
  .block
    %p
      Copyright &copy; #{Time.now.year} Sacha Chua - 
      - if session
        - if mobile?
          = link_to I18n.t('app.layout.full'), params.merge(:layout => 'full')
        - else
          = link_to I18n.t('app.layout.mobile'), params.merge(:layout => 'mobile')
        \-
      = link_to "Privacy, terms, etc.", page_path("terms_privacy")    
      \-
      = feedback_link "Send feedback"
      \-
      = link_to 'Source', 'https://github.com/sachac/quantified'
      \- Current timezone:
      = @account.settings.timezone
      = link_to '(Change?)', edit_user_path(@account)
- if Rails.env.development?
  .alert-message.warning This is the development site.
- else
  .alert-message.warning This site is in beta. Please send me feedback if you run into anything that doesn't work or can be improved!
- flash.discard
