%footer
  .block
    %p
      Copyright &copy; #{Time.now.year} Sacha Chua - 
      - if session
        - if mobile?
          = link_to I18n.t('app.layout.full'), params.to_h.merge(:layout => 'full')
        - else
          = link_to I18n.t('app.layout.mobile'), params.to_h.merge(:layout => 'mobile')
        \-
      = link_to "Privacy, terms, etc.", privacy_path
      \-
      = link_to "Blog", "http://sachachua.com/blog/category/quantified"
      - if can? :send_feedback, @account
        \-
        = feedback_link "Send feedback"
      \-
      = link_to 'Source', 'https://github.com/sachac/quantified'
      - if @account
        - if @account.settings.timezone
          \- Current timezone:
          = @account.settings.timezone
          - if can? :manage_account, @account
            = link_to '(Change?)', edit_user_path(@account)
        - elsif can? :manage_account, @account
          = link_to '(Set timezone)', edit_user_path(@account)
- if Rails.env.development?
  .alert.alert-warning This is the development site.
- else
  .alert.alert-warning This site is in beta. Please send me feedback if you run into anything that doesn't work or can be improved!
- flash.discard
