<h2>Clothing use</h2>
<% @width = 800; @height = 200 %>
<% form_tag(class: 'form-inline') do %>
  Start: <%= text_field_tag :start, @start.strftime("%Y-%m-%d") %>
  End: <%= text_field_tag :end, @end.strftime("%Y-%m-%d") %>
  <%= submit_tag "Go", class: 'btn btn-default' %>
<% end %>

<table><tr><th>ID</th><th>Name</th><th>Type</th></tr>
<% @matches[:clothing].each do |c| %>
  <tr id="clothing_<%=c.id%>">
    <td class="id"><%= c.id %></td>
    <td class="name"><%= c.name %></td>
    <td class="type"><%= c.clothing_type %></td>
  </tr>
<% end %>
</table>

<table><tr><th>Source</th><th>Target</th><th>Count</th></tr>
<% @matches[:matches].each do |m| %>
<tr id="match_<%=m[:source]%>_<%=m[:target]%>">
  <td class="source"><%= m[:source] %></td>
  <td class="target"><%= m[:target] %></td>
  <td class="count"><%= m[:count_matches] %></td>
</tr>
<% end %>
</table>

<%= @matches.to_json %>
