%p#notice= notice

%nav
  %p
    - if @previous
      = link_to '<< Previous', clothing_path(@previous)
    - if @next
      = link_to 'Next >>', clothing_path(@next)

%h1
  = @clothing.name
  - if user_signed_in?
    = link_to '(yesterday)', clothing_logs_path + "?clothing_id=" + @clothing.id.to_s + "&date=" + Date.yesterday.to_s, :method => :post
    = link_to '(today)', clothing_logs_path + "?clothing_id=" + @clothing.id.to_s + "&date=" + Date.today.to_s, :method => :post
    = link_to '(tomorrow)', clothing_logs_path + "?clothing_id=" + @clothing.id.to_s + "&date=" + Date.tomorrow.to_s, :method => :post

%p
  = @clothing.status
  - {'store' => 'stored', 'activate' => 'active', 'donate' => 'donated'}.each do |action,status|
    - unless @clothing.status == status
      = link_to action, clothing_path(@clothing.id) + '?clothing[status]=' + status, :method => :put


.image
  = clothing_thumbnail(@clothing, :size => :large)

%tags
  Tags:
  - @clothing.tags.each do |t|
    = link_to t.name, clothing_by_tag_path(t.name)
- unless @clothing.colour.nil?
  - colours = @clothing.colour.split(",")
  %table  
    %tr
      %td
        = pluralize(colours.size, "Colour")
      - colours.each do |x|
        %td
          .color-box{:style => "background: ##{x}"}
            = x
    %tr
      %td
        Complementary
      - colours.each do |x|
        - comp = Color::HSL.from_html(x).complementary.html
        %td
          .color-box{:style => "background: #{comp}"}
            = comp
    %tr
      %td Triadic:
      - colours.each do |x|
        - col = Color::HSL.from_html(x)
        %td
          - tr1 = col.clone
          - tr2 = col.clone
          - tr1.hue = tr1.hue + 120
          - tr2.hue = tr2.hue - 120
          .color-box{:style => "background: #{tr1.html}"}= tr1.html
          .color-box{:style => "background: #{tr2.html}"}= tr2.html

- if @previous_matches.size > 0
  %p= render :partial => 'clothing_thumbnails', :locals => { :list => @previous_matches }
- if @matches.size > 0
  %p= render :partial => 'clothing_thumbnails', :locals => { :list => @matches }

%p= @clothing.notes

.clear-both
- if @logs
  - @logs.each do |c|
    .entry
      .date= current_user ? (link_to c.date, clothing_log_path(c)) : c.date
      .clothes
        - ClothingLog.find(:all, :select => 'clothing_logs.id, clothing_id, clothing.name', :order => 'clothing.name', :joins => 'INNER JOIN clothing ON clothing_logs.clothing_id=clothing.id', :conditions => ["date >= ? and date < ? and outfit_id=?", c.date, c.date + 1.day, c.outfit_id]).each do |x| 
          .item= clothing_thumbnail x.clothing, { :path => current_user ? clothing_log_path(x) : clothing_path(x.clothing)}
.clear-both
- if user_signed_in?      
  = link_to 'Edit', edit_clothing_path(@clothing)
  \|
= link_to 'Back', clothing_index_path

.clear-both
