%p#notice= notice

%h1= @clothing.name

- if @logs
  %ul
    - @logs.each do |c|
      %li
        = "#{link_to c.date, clothing_log_path(c)}: ".html_safe
        - entries = ClothingLog.find(:all, :select => 'clothing.name, clothing.id', :order => 'clothing.name', :joins => 'INNER JOIN clothing ON clothing_logs.clothing_id=clothing.id', :conditions => ["date >= ? AND date <= ?", c.date.beginning_of_day.to_s(:db), c.date.end_of_day.to_s(:db)]).map{ |x| link_to x.name, ('/clothing/' + x.id.to_s) }
        = entries.join(', ').html_safe

= link_to 'Edit', edit_clothing_path(@clothing)
\|
= link_to 'Back', clothing_index_path
