%h1 Community-supported agriculture

= form_tag quick_entry_csa_foods_path do
  Quick entry:
  = text_field_tag :date, params[:date] || Date.today, :autofocus => true, :class => 'datepicker span2'
  = text_field_tag :food, nil, :placeholder => 'Food', :autofocus => true
  = text_field_tag :quantity, nil, :placeholder => 'Quantity', :size => 4, :class => 'span2'
  = text_field_tag :unit, 'g', :class => 'span1'
  = submit_tag 'Save', :class => 'btn primary'
= form_tag bulk_update_csa_foods_path do
  .food
    - remaining = (current_account.csa_foods.where('disposition = ""').sum(:quantity) / 1000.0)
    - days = current_account.csa_foods.next_delivery - Date.today
    = link_to "#{'%0.1f' % remaining}kg of CSA food to go,", csa_foods_path
    = "#{pluralize days, "day"} until next delivery = "
    = "#{'%0.1f' % (remaining * 1.0 / days)}kg per day"
    - if can? :update, CsaFood
      = submit_tag 'Save disposition notes', :class => 'btn'
  %table.lined
    %tr
      %th Date received
      %th Food
      %th Quantity
      %th Unit
      %th Notes
      %th Disposition
      %th

    - @csa_foods.each do |csa_food|
      %tr
        %td= link_to csa_food.date_received, csa_food
        %td= link_to csa_food.food.name, csa_food.food if csa_food.food
        %td= csa_food.quantity
        %td= csa_food.unit
        %td
          = csa_food.food.notes
          - if managing?
            = edit_icon edit_food_path(csa_food.food)
        %td
          - if can? :update, csa_food
            = text_field_tag "bulk[#{csa_food.id}]", csa_food.disposition
          - else
            = csa_food.disposition
        %td
          - if managing?
            = edit_icon edit_csa_food_path(csa_food)
            = delete_icon csa_food_path(csa_food)
