%h1
  Community-supported agriculture - 
  = pluralize @remaining, 'gram'
  to go

= form_tag bulk_update_csa_foods_path do
  - if can? :update, CsaFood
    = submit_tag 'Update'
  %table.lined
    %tr
      %th Date received
      %th Food
      %th Quantity
      %th Unit
      %th Disposition
      %th Notes
      %th

    - @csa_foods.each do |csa_food|
      %tr
        %td= link_to csa_food.date_received, csa_food
        %td= link_to csa_food.food.name, csa_food.food
        %td= csa_food.quantity
        %td= csa_food.unit
        %td
          - if can? :update, csa_food
            = text_field_tag "bulk[#{csa_food.id}]", csa_food.disposition
          - else
            = csa_food.disposition
        %td= csa_food.notes
        %td
          - if can?(:update, csa_food)
            = link_to 'Edit', edit_csa_food_path(csa_food)
%br

= link_to 'New Csa food', new_csa_food_path
