%h1 Food

.note
  This is for tracking perishables so that you remember to use them. As you finish the perishables, add a note about its disposition. I originally used this to track the fruits and vegetables we received in community-supported agriculture boxes, but you might be able to use it for groceries too.

= form_tag quick_entry_csa_foods_path, class: 'form-inline' do
  Quick entry:
  = text_field_tag :date, params[:date] || Time.zone.today, :autofocus => true, :class => 'datepicker span2'
  = text_field_tag :food, nil, :placeholder => 'Food', :autofocus => true
  = text_field_tag :quantity, nil, :placeholder => 'Quantity', :size => 4, :class => 'span2'
  = text_field_tag :unit, 'g', :class => 'span1'
  = submit_tag 'Save', :class => 'btn btn-primary'
= form_tag bulk_update_csa_foods_path do
  - if can? :update, CsaFood
    .food= submit_tag 'Save disposition notes', :class => 'btn btn-default'
  %table.table.table-bordered
    %tr
      %th Date
      %th Food
      %th Quantity
      %th Unit
      %th Notes
      %th Disposition
      %th

    - @csa_foods.each do |csa_food|
      %tr
        %td= link_to csa_food.date_received, csa_food
        %td= link_to csa_food.food.name, csa_food.food if csa_food.food
        %td= csa_food.quantity
        %td= csa_food.unit
        %td
          = csa_food.food.notes
          - if managing?
            = edit_icon edit_food_path(csa_food.food)
        %td
          - if can? :update, csa_food
            = text_field_tag "bulk[#{csa_food.id}]", csa_food.disposition
          - else
            = csa_food.disposition
        %td
          - if managing?
            = edit_icon edit_csa_food_path(csa_food)
            = delete_icon csa_food_path(csa_food)
