!!!
%html
  %head
    %title
      - if content_for? :title
        = yield :title
        \-
      quantified awesome
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css"
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    - conditional_html
    - if session['layout'] == 'mobile'
      %meta{:name => "HandheldFriendly", :content=>"true"}
      %meta{:name => "viewport", :content => "width=device-width, height=device-height, user-scalable=yes"}
      = stylesheet_link_tag 'mobile'  
    = javascript_include_tag "application"
    = csrf_meta_tag
    = google_analytics_js  
  %body{:class => mobile? ? "mobile" : "full"}
    = render mobile? ? 'mobile_nav' : 'main_nav'
    .container
      .content
        - if current_user.nil? and !(controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords')
          .alert-message.block-message.success
            Sacha Chua here. You can see how I've been using Quantified Awesome to track my life. I'm working on making it easier for other people to track their lives too. Interested? Join the experiment! (Warning: Here there be bugs.)
            = link_to "Sign up!", new_user_session_path
        .flash
          - flash.each do |type, message|
            %div{:class => "alert alert-#{type}"}
              - if message.is_a? Array
                %ul
                  - message.each do |m|
                    %li= m
              - else
                = message
        - if content_for? :nav
          = yield :nav
        - if content_for? :title
          %h2
            = yield :title
            - if content_for? :after_title
              = yield :after_title
        = yield
      = render 'footer'  
