!!!
%html
  %head
    %title
      - if content_for? :title
        = yield :title
        \-
      quantified awesome
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css"
    = stylesheet_link_tag 'application', :media => 'screen, projection'              
    - conditional_html
    - if session['layout'] == 'mobile'
      %meta{:name => "HandheldFriendly", :content=>"true"}
      %meta{:name => "viewport", :content => "width=device-width, height=device-height, user-scalable=yes"}
      = stylesheet_link_tag 'mobile'  
    = javascript_include_tag :defaults
    = javascript_include_tag "autocomplete-rails.js"
    = javascript_include_tag "raphael-min.js"
    = javascript_include_tag "jquery.sparkline.min.js"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-596973-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = csrf_meta_tag
  %body
    .topbar
      .fill
        .container
          - if current_account
            = link_to "quantified awesome: #{current_account.username}", root_path, :class => 'brand'
          - else
            = link_to "quantified awesome", root_path, :class => 'brand'
          %ul.nav
            %li{:class => active_menu('/home/index')}= link_to 'dashboard', root_path
            %li{:class => active_menu('/stuff')}= link_to 'stuff', stuff_index_path
            %li{:class => active_menu('/clothing')}= link_to 'clothing', clothing_index_path
            %li{:class => active_menu(['/library', '/toronto_library'])}= link_to 'library', library_items_path
            %li{:class => active_menu(['/food', '/csa_food'])}= link_to 'food', csa_foods_path
            %li{:class => active_menu('/memories')}= link_to 'memories', memories_path
            %li{:class => active_menu(['/time', '/tap_log_records'])}= link_to 'time', time_path
            - if user_signed_in?
              %li= link_to t("web-app-theme.logout", :default => "log out"), destroy_user_session_path, :method => "delete"
            - else
              %li
                %strong{:style => 'text-decoration: underline'}
                  = link_to t('app.user.login'), new_user_session_path
    .container
      .content
        .flash
          - flash.each do |type, message|
            %div{:class => "alert-message #{type}"}
              %p= message
        - if content_for? :nav
          = yield :nav
        - if content_for? :title
          %h2= yield :title
        = yield
      %footer
        .block
          %p
            Copyright &copy; #{Time.now.year} Sacha Chua
            - if session
              - if session['layout'] == 'mobile'
                = link_to I18n.t('app.layout.full'), params.merge(:layout => 'full')
              - else 
                = link_to I18n.t('app.layout.mobile'), params.merge(:layout => 'mobile')
- flash.discard
