!!!
%html
  %head
    %title
      - if content_for? :title
        = yield :title
        \-
      quantified awesome
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css"
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    - conditional_html
    - if session['layout'] == 'mobile'
      %meta{:name => "HandheldFriendly", :content=>"true"}
      %meta{:name => "viewport", :content => "width=device-width, height=device-height, user-scalable=yes"}
      = stylesheet_link_tag 'mobile'  
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body{:class => mobile? ? "mobile" : "full"}
    = render mobile? ? 'mobile_nav' : 'main_nav'
    - if Rails.env.development?
      .alert-message.warning This is the development site.
    .container
      .content
        .flash
          - flash.each do |type, message|
            %div{:class => "alert-message #{type}"}
              - if message.is_a? Array
                %ul
                  - message.each do |m|
                    %li= m
              - else
                %p= message
        - if content_for? :nav
          = yield :nav
        - if content_for? :title
          %h2
            = yield :title
            - if content_for? :after_title
              = yield :after_title
        = yield
      %footer
        .block
          %p
            Copyright &copy; #{Time.now.year} Sacha Chua
            - if session
              - if mobile?
                = link_to I18n.t('app.layout.full'), params.merge(:layout => 'full')
              - else
                = link_to I18n.t('app.layout.mobile'), params.merge(:layout => 'mobile')
            = mail_to "sacha@sachachua.com", "Tell me what you think!", :subject => "Quantified Awesome"
- flash.discard
