!!!
%html
  %head
    %title
      - if content_for? :title
        = yield :title
        \-
      quantified awesome
    = stylesheet_link_tag "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    - conditional_html
    - if session['layout'] == 'mobile'
      %meta{:name => "HandheldFriendly", :content=>"true"}
      %meta{:name => "viewport", :content => "width=device-width, height=device-height, user-scalable=yes"}
      = stylesheet_link_tag 'mobile'  
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js", charset: "utf-8"}
    = javascript_include_tag "application"
    = csrf_meta_tag
    = google_analytics_js
  %body{:class => mobile? ? "mobile" : "full"}
    = render mobile? ? 'mobile_nav' : 'main_nav'
    .container-fluid
      .content
        - if current_user.nil? and !(controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords')
          .alert.alert-block.alert-info
            I might wind down this project at some point (or keep it as just for me), so I've disabled signups. Please consider finding something else to use for tracking, and maybe we can figure out how to migrate your data to it. Thanks for joining me on this experiment!
        .flash
          - flash.each do |type, message|
            %div{:class => "alert alert-#{type}"}
              - if message.is_a? Array
                %ul
                  - message.each do |m|
                    %li= m
              - else
                = message
        - if content_for? :nav
          = yield :nav
        - if content_for? :title
          %h2
            = yield :title
            - if content_for? :after_title
              = yield :after_title
        = yield
      = render 'footer'  
