!!!
%html{:manifest=>"/application.manifest"}
  %head
    %title Quantified Awesome: Tracking
    %meta{:name => "HandheldFriendly", :content=>"true"}
    %meta{:name => "viewport", :content => "width=device-width, height=device-height, user-scalable=yes"}
    = javascript_include_tag :application
    = javascript_include_tag :offline
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'mobile'
    = stylesheet_link_tag 'offline'
    = csrf_meta_tag
  %body
    = render 'mobile_nav'
    .container
      = yield
    .clearfix  
      = link_to "Home", root_path